
.advantages__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 40px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    font-size: 50px;
    line-height: 1.2em;
  }
}

.advantages__text--title {
  margin-top: 46px;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 77px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 360px;
    padding-bottom: 59px;
  }
}

.advantages__item {
  position: relative;

  &:last-child::before {
    position: absolute;
    display: block;
    content: "";
    width: 160px;
    height: 320px;
    top: 88px;
    left: 46px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      background-image: none;
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 310px;

    &:first-child {
      margin-top: 103px;
    }

    &:last-child {
      margin-bottom: 49px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      max-width: 310px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 252px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @color-black;
}
