
.advantages__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @color-black;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @bg-gallery-storage;
}

.advantages__item {
  position: relative;

  &:last-child {
    padding-bottom: 350px;
  }

  &:last-child::before {
    position: absolute;
    display: block;
    content: "";
    width: 160px;
    height: 320px;
    top: 88px;
    left: 46px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @color-black;
}
