.advantages {
  position: relative;
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    &::after {
      width: 100%;
      height: 90px;
      top: 146px;
      background-position: 0 -66px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      height: 205px;
      top: 179px;
      background-position: 0 -170px;
    }
  }
}

.advantages__text {
  margin: 0;
  margin-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 40px;
    line-height: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    font-size: 50px;
    line-height: 1.3;
  }
}

.advantages__text--title {
  margin-top: 46px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 0;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
  }
}

.advantages__text--lower {
  margin: 0;
  margin-top: 31px;
  line-height: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
    line-height: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
    line-height: 67px;
  }
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 82px;
  list-style: none;
  text-align: center;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin: 0;
    padding-top: 90px;
    text-align: left;
    z-index: 1000;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 268px;
      height: 481px;
      bottom: -29px;
      left: 0;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -4px;
    padding-top: 0;

    &::before {
      position: absolute;
      display: none;
    }
  }
}

.advantages__item {
  position: relative;
  margin-top: 33px;

  &:last-child {
    padding-bottom: 310px;
  }

  &:last-child::before {
    position: absolute;
    display: block;
    content: "";
    width: 160px;
    height: 320px;
    top: 152px;
    left: 64px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;
    margin-top: 6px;

    &:first-child {
      margin-top: -28px;
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-right: 5%;
    padding-top: 330px;
    width: 30%;
    text-align: center;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child::before {
      position: absolute;
      display: block;
      content: "";
      width: 268px;
      height: 386px;
      top: 0;
      left: 0;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &:nth-child(2)::before {
      position: absolute;
      display: block;
      content: "";
      width: 268px;
      height: 386px;
      top: 0;
      left: 0;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 268px;
      height: 386px;
      top: 0;
      left: 0;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: @black;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700px;
    text-align: center;
    color: @black;
  }
}

.advantages__item:first-child .advantages__title {
  @media (min-width: @desktop-width) {
    padding-left: 15px;
  }
}

.advantages__item:nth-child(3) .advantages__title {
  @media (min-width: @desktop-width) {
    padding-left: 15px;
    padding-right: 35px;
  }
}

.advantages__item:first-child .advantages__description {
  @media (min-width: @desktop-width) {
    padding-left: 28px;
    padding-right: 10px;
  }
}

.advantages__item:nth-child(2) .advantages__description {
  @media (min-width: @desktop-width) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.advantages__item:nth-child(3) .advantages__description {
  @media (min-width: @desktop-width) {
    padding-left: 11px;
    padding-right: 27px;
  }
}


.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 28px;
    min-width: 100%;
    min-height: 170px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
  }
}

.advantages__text-wrapper {
  margin-bottom: 27px;
  background-color: @color-white;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 64px;
    top: 139px;
    left: 0;
    background-image: url("../img/bg-triangle-white.svg");
    background-position: 0 -11px;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}
