.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: 660px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 972px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
