.contacts {
  text-align: center;
}

.contacts__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 30px;
    background-color: plum;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__content-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {

    justify-content: space-between;
    background-color: teal;
  }
}

.contacts__content-wrapper .contacts__text:nth-child(1) {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    order: 1;
  }
}

.contacts__content-wrapper .contacts__text:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: auto;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    order: 3;
  }
}

.contacts__text--address {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-top: 55px;
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
  }
}

.contacts__text {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  color: @color-black;
}

.contacts__address {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0;
    line-height: 36px;
  }
}

.contacts__phone {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }
}

.contacts__email {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  @media (min-width: @desktop-width) {
    display: block;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }
}

.contacts__map {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: auto;
    max-height: 374px;
  }
}
