.contacts__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-top: 55px;
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
  }
}

.contacts__text {
  display: grid;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    display: block;
    width: 241px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 33.33%;
  }
}

.contacts__address {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    display: block;
    width: 211px;
    margin: 15px;
    margin-top: 0;
    padding: 0;
    line-height: 36px;
  }
}

.contacts__phone {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.contacts__email {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @hover-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }
}
