.form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__group {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
    margin-right: 70px;
  }
}

.form__division {
  margin: 0;
  margin-top: -16px;
  margin-bottom: 27px;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: -7px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: -2px;
  }
}

.form__label {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 2px;
  margin-left: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
    margin-left: 0;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 72px;
  }
}

.form__checkbox {
  padding: 0;
  margin: 0;
  margin-top: 14px;
  margin-left: -20px;
  margin-right: -20px;
  border: none;
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8px;
    border: 2px solid @input-grey;
    border-radius: 1px;
    background-color: @color-white;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: 69px;
  }
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: 8px;
  left: -45px;
  background-image: url("../img/checkbox-tick.svg");
}

.form__legend {
  margin-top: 39px;
  margin-bottom: 44px;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    margin-top: -9px;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__legend--bg {
  @media (min-width: @tablet-width) {
    background-color: @color-white;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.form__checkbox-list {
  margin: 0;
  padding: 0;
  padding-left: 79px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    margin-left: 117px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 120px;
    margin-right: 107px;
  }
}

.form__checkbox-item {
  &:first-child {
    margin-top: 16px;
  }

  &:nth-child(2) {
    margin-top: 52px;
  }

  &:nth-child(3) {
    margin-top: 53px;
  }

  &:nth-child(4) {
    margin-top: 52px;
  }

  &:nth-child(5) {
    margin-top: 52px;
  }

  &:last-child {
    margin-top: 53px;
    margin-bottom: 46px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 69px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 20px;

    &:first-child {
      margin-top: 48px;
    }
  }
}

.form__checkbox-label {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: @color-black;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: -2px;
    left: -52px;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__login {
  padding: 0;
  margin-top: 42px;
  border: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-top: 59px;
    padding-top: 46px;
    border: 2px solid @input-grey;
    box-sizing: border-box;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    margin-top: 57px;
    padding: 0;
    border: 2px solid @input-grey;
  }
}

.form__login-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.form__login-input {
  padding-top: 3px;
  padding-left: 18px;

  @media (min-width: @tablet-width) {
    width: 496px;
  }

  @media (min-width: @desktop-width) {
    width: 371px;
    margin-top: 89px;
    margin-right: 66px;
  }
}

.form__login-legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: -2px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.form__login-division {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: -55px;
    margin-bottom: 7px;
    margin-left: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 59px;

    &:nth-child(2) {
      margin-left: 4px;
    }
  }
}

.form__login-label {
  margin-left: 21px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: 13px;
    margin-bottom: 22px;
    order: 1;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 63px;
      top: -75px;
      left: 415px;
      background-image: url("../img/email.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 100;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
    margin-left: 17px;
    margin-bottom: 7px;

    &::before {
      top: -71px;
      left: 292px;
    }
  }
}

.form__radio {
  margin: 0;
  margin-top: 17px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
  background-color: @bg-gallery-storage;
  border: none;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
    background-color: @color-white;
    border: 2px solid @input-grey;
    border-radius: 1px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    min-width: 433px;
    margin: 0;
    margin-top: 48px;
    padding: 0;
  }
}

.form__radio-list {
  margin: 0;
  margin-top: 43px;
  padding: 0;
  padding-left: 91px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 52px;
    margin-left: 120px;
    padding: 0;
    padding-bottom: 12px;
    letter-spacing: 1px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 53px;
    margin-left: 133px;
    padding-bottom: 0;
  }
}

.form__radio-item {
  &:nth-child(2) {
    margin-top: 51px;
  }

  &:last-child {
    margin-top: 50px;
    margin-bottom: 48px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.form__radio-label {
  position: relative;
  letter-spacing: 1px;

  &::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    top: -6px;
    left: -58px;
    background-color: @color-white;
    border: 1px solid @input-grey;
    border-radius: 50%;
  }
}

.form__radio-input:checked + .form__radio-label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 4px;
  left: -47px;
  background-color: @hover-color;
  border-radius: 50%;
}

.form__textarea {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 47px;
  padding: 0;
  padding-top: 18px;
  font-style: normal;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    padding-top: 37px;
    padding-bottom: 39px;
    padding-left: 13px;
    border: 2px solid @input-grey;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    margin-top: 58px;
    margin-bottom: 107px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__textarea .form__legend {
  margin-bottom: 1px;
}

.form__input-textarea {
  width: 100%;
  height: 197px;
  padding-top: 15px;
  padding-left: 20px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
  border: 2px solid @input-grey;

  &::placeholder {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: @color-black;
    border: none;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    margin-left: 44px;
    padding-top: 15px;
    padding-left: 22px;
    border: 2px solid @input-grey;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
    height: 130px;
    margin-left: 0;
    padding-left: 18px;
    padding-bottom: 0;
  }
}

.form__button {
  display: inline-block;
  min-width: 279px;
  min-height: 61px;
  margin: 0;
  margin-top: -2px;
  margin-bottom: 22px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @page-main-button-green;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid @page-main-button-green;
  border-radius: 1px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @page-main-button-green-hover;
    outline: none;
  }

  &:active {
    color: @page-main-button-active;
  }

  &:disabled {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: @color-white;
    background-color: @input-grey;
  }

  @media (min-width: @tablet-width) {
    min-width: 299px;
    margin-top: 20px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.form__button-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    order: 5;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: -60px;
  }
}

.form__required {
  margin-left: 49px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 36px;
  }
}

.form__required-hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
