.form__group {
  border: none;
}

.form__division {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    margin-right: 20px;
  }
}

.form__checkbox {
  margin-top: 65px;
  background-color: @bg-gallery-storage;
  border: none;

  @media (min-width: @tablet-width) {
    width: 616px;
    padding-top: 60px;
    padding-left: 139px;
    padding-bottom: 61px;
    border: 2px solid @input-grey;
    border-radius: 1px;
    background-color: @color-white;
  }
}

.form__legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @hover-color;

  @media (min-width: @tablet-width) {
    min-width: 374px;
    padding-left: 31px;
    padding-right: 31px;
    text-align: center;
  }
}

.form__checkbox-list {
  list-style: none;
}

.form__checkbox-item {
  @media (min-width: @tablet-width) {
    margin-top: 69px;
  }
}

.form__checkbox-label {
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  color: @color-black;
}

.form__login {
  border: none;
}

.form__login-label {
  font-size: 14px;
  font-weight: 400px;
  line-height: 30px;
  text-transform: uppercase;
  color: @hover-color;
}

.form__radio {
  background-color: @bg-gallery-storage;
  border: none;

  @media (min-width: @tablet-width) {
    width: 616px;
    background-color: @color-white;
    border: 2px solid @input-grey;
    border-radius: 1px;
  }
}

.form__radio-list {
  list-style: none;
}

.radio__radio-item {
  @media (min-width: @tablet-width) {
    margin-top: 62px;
    margin-left: 121px;
  }
}

.form__textarea {
  width: 276px;
  padding-top: 22px;
  font-style: normal;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  border: 2px solid @input-grey;

  @media (min-width: @tablet-width) {
    width: 616px;
    margin-top: 140px;
    padding-left: 42px;
    padding-right: 47px;
    border: 2px solid @input-grey;
    border-radius: 1px;
  }
}

.form__input-textarea {
  &::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-black;
  }
}

.form__button {
  display: inline-block;
  min-width: 276px;
  min-height: 59px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @page-main-button-green;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid @page-main-button-green;
  border-radius: 1px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @page-main-button-green-hover;
    outline: none;
  }

  &:active {
    color: @page-main-button-active;
  }

  &:disabled {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: @color-white;
    background-color: @input-grey;
  }
}
