.gallery-storage {
  background-color: @color-white;

  @media (min-width: @desktop-width) {
    margin-bottom: 450px;
  }
}

.gallery-storage__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery-storage__form-wrapper {
  padding-bottom: 42px;
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
  }
}

.gallery-storage__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.gallery-storage__header {
  background-color: @color-white;
}

.gallery-storage__title {
  margin-top: 17px;
  margin-bottom: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    margin-bottom: 69px;
    font-size: 18px;
    line-height: 30px;
  }
}

.gallery-storage__list {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  margin-bottom: 127px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.gallery-storage__button-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 112px;
    margin-left: 66px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 119px;
  }
}
