.gallery-storage {
  background-color: @bg-gallery-storage;
}

.gallery-storage__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @color-black;
}

.gallery-storage__list {
  list-style: none;
}

.gallery-storage__button--posted {
  display: inline-block;
  min-width: 280px;
  min-height: 55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: @hover-color;
  border: 3px solid @hover-color;
  border-radius: 30px;
  vertical-align: middle;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: @color-white;
    background-color: @hover-color;
  }

  &:active {
    color: @page-main-button-active;
  }
}

.gallery-storage__button--cancel {
  display: inline-block;
  min-width: 280px;
  min-height: 55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: @color-black;
  border: 3px solid @color-black;
  border-radius: 30px;
  vertical-align: middle;
  opacity: 0.1;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    color: @page-main-button-active;
    background-color: @color-black;
    opacity: 0.3;
  }
}
