.gallery {
  margin: 0;
}

.gallery__wrapper {
  outline: @outline-pink;
}

.gallery__promo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.gallery__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: @color-white;
}

.gallery__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 85px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.gallery__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__item {
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    &:not(:first-child) {
      max-width: 300px;
    }

    &:first-child {
      width: 100%;
    }
  }
}

.gallery__author {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: @color-black;
}

.gallery__time {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-black;
}

.gallery__comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @color-black;
}

.gallery__heart {
  color: @hover-color;
}

.gallery__like {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: @hover-color;
}
