.group {
  border: none;
}

.group__division {
  margin: 0;
  padding: 0;
}

.group__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @hover-color;
}

.group__input {
  min-width: 278px;
  min-height: 59px;
  padding-left: 42px;
  border: 2px solid @input-grey;
  border-radius: 1px;

  &[placeholder="Укажите фамилию"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-black;
  }

  &[placeholder="Введите ваше имя"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-black;
  }

  &[placeholder="Ну и отчество тоже"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-black;
  }
}
