.input-field {
  min-width: 279px;
  height: 64px;
  padding-top: 6px;
  padding-left: 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  border: 2px solid @input-grey;
  border-radius: 1px;

  &:hover,
  &:focus {
    border: 2px solid @color-black;
  }

  &::placeholder {
    color: @color-black;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;
    margin-top: 48px;
  }

  @media (min-width: @desktop-width) {
    min-width: 336px;
    margin: 0;
    margin-top: 54px;
  }
}
