.intro {
  background-color: @bg-intro;
}

.intro__slogan {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: @color-white;
}

.intro__list {
  list-style: none;
}

.intro__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @color-white;
}

.intro__link {
  font-size: 18px;
  font-weight: bold;
  color: @color-white;
}
