.intro {
  padding-bottom: 38px;
  text-align: center;
  background-color: @bg-intro;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 55%;

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 100% 100%;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 100% 100%;
  }
}

.intro__slogan {
  margin: 0;
  padding-top: 29px;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: @color-white;

  @media (min-width: @tablet-width) {
    max-width: 247px;
    padding-top: 102px;
    padding-left: 28px;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    padding-right: 36px;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 32px;
  margin-left: 15px;
  padding: 0;
  max-width: 250px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }
}

.intro__item {
  margin-right: 35px;
}

.intro__item:nth-child(3n) {
  margin-right: 0;
}

.intro__link {
  position: relative;
  display: inline-block;
  min-width: 60px;
  min-height: 60px;
}

.intro__button {
  margin: 0;
  margin-top: 348px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 35px;
  padding-right: 36px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
    margin-bottom: 44px;
  }
}

.intro__link--apple {
  &::before {
    position: absolute;
    display: block;
    content: " ";
    width: 50px;
    height: 56px;
    top: 0;
    left: 15%;
    background-image: url("../img/apple-logo.svg");
    background-repeat: no-repeat;
  }
}

.intro__link--android {
  &::before {
    position: absolute;
    display: block;
    content: " ";
    width: 50px;
    height: 50px;
    top: 10%;
    left: 15%;
    background-image: url("../img/android-logo.svg");
    background-repeat: no-repeat;
  }
}

.intro__link--windows {
  &::before {
    position: absolute;
    display: block;
    content: " ";
    width: 50px;
    height: 50px;
    top: 10%;
    left: 10%;
    background-image: url("../img/microsoft-logo.svg");
    background-repeat: no-repeat;
  }
}

.intro__text {
  max-width: 280px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @color-white;

  @media (min-width: @tablet-width) {
    margin-bottom: 119px;
  }
}
