.main-nav {
  color: @color-white;
}

.main-nav__wrapper {
  outline: @outline;
  outline-offset: -5px;
}

.main-nav__list {

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  @media (min-width: @desktop-width) {
    margin-right: 78px;
  }
}

.main-nav__item:last-child {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.main-nav__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__link {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  color: @color-white;

  &:hover,
  &focus {
    color: @hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item-link--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid white;
  }
}
