.main-nav {
  position: relative;
  width: auto;
  color: @color-white;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

/*.main-nav--opened {
  .main-nav__toggle {


    &::before {
      position: absolute;
      content: "";
      top: -25px;
      left: 9px;
      width: 23px;
      height: 23px;
      background-image: url("../img/icon-menu-cross.svg");
      background-repeat: no-repeat;
    }

    &:active::before {
      background-image: url("../img/close-menu-btn-hover.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: @tablet-width) {
      &::before {
        top: -43px;
        left: 7px;
      }
    }
  }
}
*/

.main-nav__toggle-wrapper {
  position: absolute;
  top: 13px;
  right: 8px;
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &:active {
    background-image: url("../img/close-menu-btn-hover.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list-wrapper {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 38px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 44px;
    margin-left: 50px;
    margin-right: 200px;
  }
}

.main-nav__item {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: @color-black;
  border-top: 1px solid @black;
  border-bottom: 1px solid @color-white-opacity;

  @media (min-width: @desktop-width) {
    margin-right: 78px;
    padding: 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  color: @color-white;

  &:hover,
  &focus {
    color: @hover-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
  }
}

.main-nav__link--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid white;
  }
}

.main-nav__logo-wrapper {
  min-height: 69px;

  @media (min-width: @desktop-width) {
    max-width: 460px;
  }
}

.main-nav__logo {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-left: 70px;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  top: 10px;
  left: 25px;
  background-color: @color-white;
  box-shadow: 0 10px 0 0 @color-white, 0 20px 0 0 @color-white;
  border-radius: 2px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list-wrapper {
  display: block;
}
