.modal-popup {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: @color-white;
}

.modal-popup__title {
  padding-bottom: 37px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @black;
}

.modal-popup__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 24px;
  color: @color-black;
}

.modal-popup__button {
  display: inline-block;
  width: 276px;
  height: 59px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @page-main-button-green;
  border-radius: 1px;
  box-sizing: border-box;
  border: none;
}
