.page-header {
  position: relative;
  min-height: 66px;
  margin: 0;
  z-index: 10000;
  background-color: @color-black01;
}

.page-header__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 23px;
  vertical-align: middle;
  text-decoration: none;
}

.page-header__nav {
  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}
