.page-footer {
  padding-bottom: 40px;
  background-color: @color-white;

  @media (min-width: @desktop-width) {
    padding-bottom: 75px;
  }
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__img {
  margin-left: -20px;
  margin-right: -20px;
  display: block;
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    margin-right: -39px;
  }
}
