.page-footer {
  background-color: @color-white;
}

.page-footer__wrapper {
  outline: @outline;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  color: @color-black;
}

.contacts__text {
  font-size: 18px;
  font-weight: bold;
  color: @color-black;
}

.contacts__phone {
  font-size: 24px;
  font-weight: 300;
  color: @hover-color;
}

.contacts__email {
  font-size: 24px;
  font-weight: 300;
  color: @hover-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }
}

.contacts__address {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: @color-black;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  color: @hover-color;
}
