.page-header {
  margin: 0;
  background-color: @color-black;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
  }
}
