.page-header {
  margin: 0;
  background-color: @color-black;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
    min-height: 110px;
  }
}

.page-header__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 23px;
  vertical-align: middle;
  text-decoration: none;
}

.page-header__wrapper {
  border-top: 1px solid @black;
  border-bottom: 1px solid @color-white-opacity;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
  }

  @media (min-width: @desktop-width) {
    max-width: 440px;
    margin: 0 auto;
    border: none;
  }
}

.page-header__nav {
  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}
