.photo-footer__wrapper {
  margin-top: 60px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
  }
}

.photo-footer__copyright {
  margin-top: 30px;
}

.photo-footer__social {
  margin-top: 32px;
}
