.price {
  background-color: @bg-gallery-storage;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-bottom: 22px;
    overflow: visible;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 94px;
  }
}

.price__table {
  margin-left: -277px;
  margin-bottom: 28px;
  background-color: @color-white;
  border: 2px solid @input-grey;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin-left: 2px;
    margin-bottom: 45px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 0;
  }
}

.price__icon {
  width: 20%;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__table-header {
  padding-top: 11px;
  padding-bottom: 28px;
  color: @color-white;
  background-color: @color-black;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 33px;
    padding-bottom: 8px;

    &.price__hidden {
      color: @bg-gallery-storage;
      background-color: @bg-gallery-storage;
      outline: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-left: 36px;
    padding-right: 34px;
    padding-bottom: 22px;
  }
}

.price__emphasazing {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__tag {
  display: block;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price__definition {
  min-width: 277px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 17px;
  border: 2px solid @input-grey;

  @media (min-width: @tablet-width) {
    min-width: 152px;
    padding-top: 8px;
    padding-left: 14px;
    padding-bottom: 8px;

    &.price-closed {
      padding-top: 9px;
      padding-left: 15px;
      padding-right: 68px;
      padding-bottom: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
  }
}

.price__description {
  display: inline-block;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
  color: @color-black;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-left: 0;
    opacity: 0;
  }
}

.price__hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    font-size: 14px;
    line-height: 30px;
  }
}

.price__title {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
