.price {
  background-color: @input-grey;
}

.price__header {
  height: 94px;
  background-color: @color-black;

  .price__definition--standard,
  .price__definition--base,
  .price__definition--unlimited {
    border: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    height: 94px;
    margin-left: 210px;
  }
}

.price__table {
  border: 2px solid @input-grey;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.price__definition {
  width: 276px;
  height: 59px;
  text-align: center;
  background-color: @color-white;
  border: 2px solid @input-grey;

  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
  }
}

.price__definition--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @tablet-width) {
    text-transform: capitalize;
  }
}

.price__definition--base {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    margin-right: 0;
  }
}

.price__definition--standard {
  width: 276px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 153px;
    margin: 0;
    padding: 0;
  }
}

.price__definition--unlimited {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
  }
}

.price__definition-title {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-black;
}
