.price {
  position: relative;
  background-color: @bg-gallery-storage;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 172px;
    top: -172px;
    left: 0;
    background-color: @bg-gallery-storage;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: auto;
  }

  @media (min-width: @tablet-width) {
    margin-left: 2px;
    margin-bottom: 0;
    border: none;

    &::before {
      width: 100%;
      top: -143px;
      left: -1px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: -165px;
      left: 0;
      background-size: 100%;
    }
  }

  @media (min-width: @tablet-width) {
    width: auto;
    padding-bottom: 22px;
    overflow: visible;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 122px;
  }
}

.price__table {
  position: relative;
  margin-left: -277px;
  margin-bottom: 28px;
  background-color: @color-white;
  border: 2px solid @input-grey;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-bottom: -25px;
    border: none;
  }
}

.price__icon {
  width: 20%;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__table-header {
  position: relative;
  padding-top: 11px;
  padding-bottom: 28px;
  color: @color-white;
  background-color: @color-black;
  border-right: 2px solid @input-grey;
  border-left: 2px solid @input-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 14px;
    padding-left: 34px;
    padding-right: 35px;
    padding-bottom: 7px;

    &.price__hidden {
      color: @bg-gallery-storage;
      background-color: @bg-gallery-storage;
      border: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-left: 36px;
    padding-right: 34px;
    padding-bottom: 22px;
  }
}

.price__table-header--standart {
  &::before {
    position: absolute;
    content: "";
    width: 74px;
    height: 74px;
    top: 0;
    left: 0;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 61px;
      height: 61px;
      background-size: 61px 61px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 74px;
      height: 74px;
      background-size: 74px 74px;
    }
  }
}

.price__emphasazing {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__tag {
  display: block;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price__definition {
  position: relative;
  min-width: 277px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 17px;
  border: 2px solid @input-grey;

  @media (min-width: @tablet-width) {
    min-width: 152px;
    padding-top: 8px;
    padding-left: 14px;
    padding-bottom: 8px;

    &.price-closed {
      padding-top: 9px;
      padding-left: 15px;
      padding-right: 68px;
      padding-bottom: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
  }
}

.price__definition--yes-icon {
  &::before {
    position: absolute;
    content: "";
    width: 31px;
    height: 21px;
    top: 17px;
    right: 19px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: 12px;
      right: 62px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 17px;
      right: 100px;
    }
  }
}

.price__definition--no-icon {
  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    top: 17px;
    right: 19px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: 8px;
      right: 63px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 17px;
      right: 100px;
    }
  }
}

.price__description {
  display: inline-block;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
  color: @color-black;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-left: 0;
    opacity: 0;
  }
}

.price__hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    font-size: 14px;
    line-height: 30px;
  }
}

.price__title {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
