.reviews {
  position: relative;
  background-color: @color-white;

  &::before {
    @media (min-width: @desktop-width) {
      position: absolute;
      content: "";
      width: 80px;
      height: 63px;
      top: -108px;
      left: 50%;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center center;
      transform: translate(-50%);
    }
  }
}

.reviews__list {
  padding: 0;
  list-style: none;
}

.reviews__author {
  display: block;
  margin-top: 43px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-top: -22px;
    letter-spacing: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.reviews__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    max-width: 200px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: @color-black;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    display: block;
    max-width: 228px;
    font-size: 18px;
  }
}

.reviews__comment {
  width: 280px;
  height: 160px;
  margin: 0 auto;
  padding-top: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @color-black;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 0;
    padding-top: 12px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 688px;
    margin-left: 126px;
    margin-bottom: -6px;
    padding-top: 6px;
  }
}

.reviews__slider-button-list {
  display: none;
  position: relative;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__slider-button {
  @media (min-width: @desktop-width) {
    cursor: pointer;

    path {
      fill: @color-black;
      opacity: 0.3;
    }
  }
}

.reviews__slider-button--left {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: -177px;
    left: -6px;
    background-color: @color-white;
    border: none;
  }
}

.reviews__slider-button--left:hover,
.reviews__slider-button--left:focus {
  path {
    fill: @color-black;
    opacity: 0.6;
  }
}

.reviews__slider-button--left:active {
  path {
    fill: @color-black;
    opacity: 0.1;
  }
}

.reviews__slider-button--right {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: -177px;
    left: 913px;
    background-color: @color-white;
    border: none;
  }
}

.reviews__slider-button:hover,
.reviews__slider-button:focus {
  path {
    fill: @color-black;
    opacity: 0.6;
  }
}

.reviews__slider-button:active {
  path {
    fill: @color-black;
    opacity: 0.1;
  }
}
