.slider__item {
  position: relative;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.slider__item--second {
  display: none;
}

.slider__item--third {
  display: none;
}
