.toggle-reviews {
  position: relative;
  padding-top: 47px;
  padding-bottom: 19px;
  padding-left: 18px;
  z-index: 70;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-left: 12px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
