.wrapper-bottom {
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    margin-top: 0;
    padding: 0;
    padding-right: 39px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 29px;
    padding-right: 19px;
  }
}
