.wrapper-bottom {
  padding-top: 112px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding-right: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 302px;
    padding-left: 1px;
    padding-right: 19px;
  }
}
