.button {
  display: inline-block;
  min-width: 280px;
  min-height: 55px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 30px;
}
