.button {
  display: inline-block;
  width: 280px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 46px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 30px;
  color: @hover-color;
  border: 3px solid @hover-color;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: @color-white;
    background-color: @hover-color;
  }

  &:active {
    color: @page-main-button-active;
  }

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.button--grey {
  width: 280px;
  margin: 0;
  margin-top: 15px;
  border: 3px solid @color-black;
  color: @color-black01;
  opacity: 0.1;

  &:hover,
  &:focus {
    color: @color-black;
    background-color: @input-grey;
    opacity: 0.3;
  }

  &:active {
    color: @page-main-button-active;
    background-color: @color-black;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    margin-left: 10px;
  }
}

.button--white {
  color: @color-white;
  border: 3px solid @color-white;

  &:hover,
  &:focus {
    color: @hover-color;
    background-color: @color-white;
  }

  &:active {
    background-color: @color-white;
    color: @active-color;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    padding: 0;
    padding-bottom: 3px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 37px;
    letter-spacing: 2px;
  }
}
