/* Variables */
@color-black: #283645;
@bg-intro: #1D2631;
@color-white: #FFFFFF;
@hover-color: #D22856;
@input-grey: #E5E5E5;
@page-main-button-green: #2AAB6D;
@page-main-button-green-hover: #1C9B5E;
@outline: 5px solid rgba(0, 255, 0, 0.3);
@outline-char: 5px solid rgb(127, 255, 0);
@outline-pink: 5px solid rgb(255, 0, 128);
